.container {
    background: lightblue;
    border: 4px black;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: blueviolet;
    font-weight: bold;
    text-align: center;
    border: 6px magenta;
    width: 80px;
    height: 80px;
}